<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/wh.js"></script>
    <link rel="stylesheet" type="text/css" href="css/wh.css">
  </head>

  <body>
    <div id="wh_title" class="centered">
      <h1>witch_house</h1>
      <a href="index.html">play</a> | <a href="help.html">help</a>
    </div>
    <a href="https://github.com/walpurgisriot/witch_house">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
    </a>
    {{ content }}
  </body>
</html>


